<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href={{url_for('static', filename='css/base.css')}}>
    </head>
    <body>
        <nav>
            <label class="logo">Sudoku</label>
            <ul>
                <li><a class="active" herf={{url_for('home')}}>Home</a></li>
                <li><a href={{url_for('play')}}>Play_Sudoku</a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
        <footer>
            <h3>Source Code on <a href="https://github.com/Sumanshu-Nankana/Project/tree/master/Sudoku%20Solver%20AI" target="_blank"><i style="font-size:24px" class="fa">&#xf09b;</i></a></h3>
    </body>
</html>